@import "bootstrap-sprockets";

// Import theme variables
@import "bootswatch/united/variables";

@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/united/bootswatch";

body {
  min-width:493px;
}

.search-bar-container {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.container-margin {

}

.video-body {
  background-color: #1b1b1b;
}

#video_panel {
  display: none;
}

#results {
  display: none;
}

.result-item-thumbnail {
  width: 120px;
}
