@import "bootstrap-sprockets";

// Import theme variables
@import "bootswatch/united/variables";

@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/united/bootswatch";

@media(min-width:500px) {
	.search-text {
	  min-width: 500px;
	}
}

.main-container {
  min-width:500px;
  width: auto !important;
  width:500px;
}

.search-text {
  font-size: 16px;
}

.video-body {
  background-color: #1b1b1b;
}

#video_panel {
  display: none;
}

#results {
  display: none;
}

.result-item-thumbnail {
  width: 120px;
}
