@import "bootstrap-sprockets";

// Import theme variables
@import "bootswatch/cyborg/variables";

@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/cyborg/bootswatch";


#video_player {
  display: none;
}

.search-bar-container {
  margin-top: 0px;
}

.main-container {
  margin-top: 50px;
}
