%div(data-ng-controller="home" data-ng-init="init()")

%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        %strong Kara
        Joker
    #navbar.navbar-collapse.collapse

.container.search-bar-container
  .row
    %form#search(data-ng-submit="search()")
      .input-group
        %input#query.form-control(type="text" placeholder="Search for a karaoke video"
          name="q" data-ng-model="query" autofocus="autofocus")
        %span.input-group-btn
          %button.btn.btn-default
            %span.glyphicon.glyphicon-search

.container.main-container
  .row
    .col-md-7
      #video_panel.panel.panel-default
        .panel-body
          %youtube.embed-responsive.embed-responsive-4by3(width="{{player.width}}" height="{{player.height}}" videoid="{{player.videoid}}")
        .panel-footer.text-right {{player.playerStatus}}
    .col-md-5
      #results.panel.panel-default
        .panel-heading Results
        .panel-body
          .list-group
            %a.list-group-item(data-ng-repeat="result in results" data-ng-click="play(result.id)")
              %img.pull-right.video-thumbnail.img-rounded(src="http://img.youtube.com/vi/{{ result.id }}/1.jpg")
              %h5.list-group-item-heading
                %strong {{ result.title }}
              %p.video-author {{ result.author }}
              %p.video-author {{ result.year }}
              %b.video-description(data-ng-repeat="tag in result.tags") {{tag.name}}{{$last ? '' : ', '}}

  %footer.navbar-fixed-bottom
    .container
      %p.text-muted NONOSofT
