%div(data-ng-controller="home" data-ng-init="init()")

%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        %strong Kara
        Joker
    #navbar.navbar-collapse.collapse

.container-fluid
  .row.search-bar-container
    %form#search(data-ng-submit="search()")
      .input-group
        %input#query.form-control(type="text" placeholder="Search for a karaoke video"
          name="q" data-ng-model="query" autofocus="autofocus")
        %span.input-group-btn
          %button.btn.btn-default
            %span.glyphicon.glyphicon-search
  .row
    .col-md-7
      #video_panel.panel.panel-default
        .panel-body.video-body
          %youtube.embed-responsive.embed-responsive-4by3(width="{{player.width}}" height="{{player.height}}" videoid="{{player.videoid}}")
        .panel-footer.text-right {{player.playerStatus}}
    .col-md-5
      #results.panel.panel-default
        .panel-heading Results
        .panel-body
          .list-group
            %a.list-group-item(data-ng-repeat="result in results" data-ng-click="play(result.id)")
              .container-fluid
                .row
                  .col-xs-7.col-sm-9.col-md-7.result-item-desc-col.text-left
                    %h5.list-group-item-heading
                      %strong {{ result.title }}
                    %p {{ result.author }}
                    %p {{ result.year }}
                    %b(data-ng-repeat="tag in result.tags") {{tag.name}}{{$last ? '' : ', '}}
                  .col-xs-5.col-sm-3.col-md-5.result-item-thumbnail-col.text-right
                    %img.result-item-thumbnail.img-rounded(src="http://img.youtube.com/vi/{{ result.id }}/1.jpg")

  %footer.navbar-fixed-bottom
    .container-fluid
      %p.text-muted
        %a(href="http://nonosoft.com.ar") NONOSofT
